@import "tailwindcss";

.site-wrapper {
  transform: scale(0.8);
  transform-origin: top center;
}


@layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4b5563; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; 
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }
}

::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;    
  margin-bottom: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15); 
  border-radius: 99px; 
  
  
  border: 3px solid transparent; 
  background-clip: content-box; 
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}